@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: GothamBook;
    src: url(https://storage.acerapps.io/app-1264/fonts/Gotham-Book.otf)
}

@font-face {
    src: url(https://storage.acerapps.io/app-1264/fonts/Dubai-Regular.ttf);
    font-family: "Dubai"
}

body {
    background-color: #f6f6f6;
}

div.icons {
    width: 35px;
    height: 35px;
    background-color: #2b43a2;
    opacity: .7;
    transition: opacity .4s;
}

div.icons:hover {
    opacity: 1 !important;
}

.language a {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 12px;
}

.language a div {
    width: 2.75rem;
    height: 1.75rem;
}

.language div:first-child a div {
    border: 1px solid #2b43a2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.language div:last-child a div {
    border: 1px solid #2b43a2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.language a div.active {
    background-color: #2b43a2;
    color: white;
}

.header-cizgi {
    background-color: #2b43a2;
    height: 2px;
}

.row {
    width: 100%;
}

.color-white {
    fill: white;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding: 1.16rem;
}

.menu ul li a {
    text-decoration: none;
    font-family: GothamBook;
    font-size: 14px;
}

.header-link-bottom-line {
    width: 0;
    visibility: hidden;
    border: 1px solid #2b43a2;
    height: 2px;
    background-color: #2b43a2;
    opacity: .7;
    transition: opacity .4s, width .4s, visibility .4s;
}

header .header-menu-button {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-top: .5rem;
    margin-bottom: 1rem;
    height: 2rem;
}

header .header-menu-button span {
    display: block;
    width: 2.5rem;
    height: 3px;
    background-color: black;
    margin-top: .35rem;
    transition: transform .4s, opacity .4s, margin .4s;
    opacity: 1;
}

header .header-menu-button.header-menu-button-animation span {
    transform: rotate(45deg);
    margin-top: -2.5px;
}

header .header-menu-button.header-menu-button-animation span:first-child {
    transform: rotate(-45deg);
    margin-top: 11.5px;
}

header .header-menu-button.header-menu-button-animation span:last-child {
    opacity: 0;
}

header .header-menu-button {
    display: none !important;
}

.menu ul li a:hover .header-link-bottom-line {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.banner-title {
    position: relative;
    color: #243a94;
    font-size: 75px;
    font-weight: 100;
    z-index: 999;
}

.banner-paragraph {
    position: relative;
    color: #243a94;
    font-size: 20px;
    font-weight: 300;
    transition: margin .6s, max-width .6s;
    z-index: 999;
}

.big-img {
    width: 550px;
    height: 550px;
}

.active-slider {
    transform: rotateY(180deg);
    transition: transform .6s;
}

.active-slider2 {
    transform: rotateY(0deg);
    transition: transform .6s;
}

.active-big-img {
    right: 73% !important;
    transition: right .6s;
}

.active-big-img2 {
    right: -4% !important;
    transition: right .6s;
}

.small-img-animation {
    transform: translateX(-18rem);
    transition: transform .6s;
}

.small-img-animation2 {
    transform: translateX(0);
    transition: transform .6s;
}

.text2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
}

.text3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.text-move {
    transform: translateX(25rem) !important;
    transition: transform .6s;
}

.text-move2 {
    transform: translateX(0) !important;
    transition: transform .6s;
}

.buttons {
    position: absolute;
    list-style-type: none;
    display: flex;
    padding: 0;
    z-index: 9999;
}

.buttons li a:not(.arrow) {
    display: block;
    width: 17px;
    height: 17px;
    background-color: rgb(36, 58, 148, .6);
    border: 3px solid rgb(36, 58, 148, 1);
    border-radius: 50%;
    margin: 0 .2rem;
}

.buttons li a.active:not(.arrow) {
    background-color: rgb(36, 58, 148, 1);
}

.buttons .arrow {
    margin: 0 .75rem;
}

.button {
    cursor: pointer;
    transition: background-color .3s;
}

.arrow {
    cursor: pointer;
    background-color: rgb(36, 58, 148);
    color: white;
    opacity: .7;
    border-radius: 50%;
    border: none;
    width: auto;
    height: auto;
    display: inline;
    transition: opacity .6s, background-color .6s, color .6s;
}

.arrow:hover {
    opacity: 1;
}

.banner-body {
    transition: transform .6s;
    z-index: 100;
}

.section {
    margin-top: 3rem;
}

.slick .slick-slide {
    padding: 1rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px 0 #33333338;
    border-radius: 1rem;
    margin: 1rem;
}

.slick .slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick .slick-track {
    padding: .1rem;
}

.slick .slick-item img {
    height: 50px !important;
    object-fit: contain;
}

.section-title h1 {
    font-size: 60px !important;
    font-weight: 400;
}

.section-title p {
    color: #606060;
}

.slick-slide a {
    transition: all 1s ease-in-out;
}

.slick-card a {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
}

.slick-card .card-main img {
    border-radius: 30px 30px 0 0;
}

.slick-card .card-main .card-content {
    border-radius: 0 0 50px 50px;
    background-color: #fff;
    color: black;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.slick-card .card-main .card-content p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.slick-card .card-main .card-category p {
    margin-bottom: 0 !important;
    letter-spacing: 3px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.slick-card a div img {
    height: 200px;
    object-fit: cover;
}

.slick-card .card-category {
    background-color: #243a94;
}

.slick-card .slick-list {
    padding: 30px 0 0 0 !important;
}

.slick-card .slick-slide {
    transition: all .4s ease-in-out;
    transform: scale(1);
}

.slick-card .slick-slide.slick-center {
    transform: scale(1.1);
}


.slick-card .slick-slide.slick-center .card-content {
    transition: all .4s ease-in-out;
}

.slick-card .slick-slide.slick-center .floor {
    transition: all .4s ease-in-out;
    top: -50px;
}

.slick-card .slick-slide.slick-center .card-main .card-content p {
    -webkit-line-clamp: 8;
}

.slick-card .floor {
    position: relative;
    z-index: -10;
    height: 150px;
    background-color: #a9e495;
    border: 20px solid #72d151;
    border-radius: 50%;
    top: -75px;
    margin: 0 .5rem;
}

.index-category-courses {
    gap: 1.5rem;
}

.index-category-courses .bg-green {
    border-radius: 50px 50px 0 0;
    height: 60px;
    background-color: #5dc13a;
    letter-spacing: 4px;
    font-family: "GothamBook";
}

.index-category-courses-image {
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}

.index-category-courses-image-div:hover .index-category-courses-category {
    max-width: 200px;
}

.index-category-courses-category {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3rem;
    bottom: -1rem;
    transition: max-width .4s;
    width: 100%;
    max-width: 40px;
    height: 40px;
    border-radius: 1.3rem;
    background-color: #243a94;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1rem;
    cursor: pointer;
}

.index-category-courses-category div {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #243a94;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.index-category-courses-category {
    font-weight: bold;
}

.pointer {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}

.section-5-title {
    margin-bottom: 8rem;
}

.section-5-card {
    width: 100%;
    height: 500px;
    background-color: white;
    margin: 0 3rem;
    border-radius: 0 120px;
    transition: border-radius .4s ease-in-out;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
}

.section-5-card:hover {
    border-radius: 120px 0;
}

.section-5-card:hover .section-5-card-circle {
    opacity: 1;
}

.section-5-card:hover .section-5-card-category {
    top: -4rem;
    color: white;
}

.section-5-card:hover .section-5-card-title {
    height: 30% !important;
}

.section-5-card:hover .section-5-card-paragraph {
    opacity: 1;
}

.section-5-card-title {
    transition: height .4s;
    font-weight: bold;
}

.section-5-card-category {
    color: #40b915;
    letter-spacing: 3px;
    top: 0;
    transition: all .4s;
}

.section-5-card-circle {
    position: absolute;
    top: -120px;
    width: 125%;
    height: 425px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #7ccd60;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .4s;
}

.section-5-card-paragraph {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1.5rem;
    opacity: 0;
    transition: opacity .4s;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
}

.section-5-card-date {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.erasmus-cards {
    margin-bottom: 3rem;
}

.erasmus-cards .slick-slide {
    background-color: white;
    border-radius: 4rem;
    margin: 0 1rem;
    padding: 3rem;
    box-shadow: 0 0 20px rgb(0, 0, 0, .05);
    transform: scale(1);
    transition: all .4s ease-in-out;
    height: 35rem;
}

.erasmus-card {
    transition: opacity .4s;
}

.erasmus-card .erasmus-card-img {
    transition: opacity .4s;
    opacity: 0;
    z-index: -2;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
}

.erasmus-card .erasmus-card-date {
    color: #93eb74;
}

.erasmus-card .erasmus-card-img-div::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity .4s;
    border-radius: 4rem;
}

.erasmus-card .erasmus-card-square {
    width: 20px;
    height: 20px;
    background-color: #93eb74;
}

.erasmus-card .erasmus-card-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.erasmus-card .erasmus-card-title h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    transition: color .4s;
}

.erasmus-card .erasmus-card-paragraph {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    transition: color .4s;
}

.erasmus-card .eramus-card-more-info {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    transition: color .4s;
}

.erasmus-card .eramus-card-more-info div:first-child {
    padding-left: 1rem;
}

.erasmus-card .eramus-card-more-info-bottom-line {
    height: 1px;
    width: 120%;
    background-color: black;
    transition: width .4s, background-color .1s;
}

.erasmus-card:hover .erasmus-card-img {
    opacity: 1;
}

.erasmus-card:hover .erasmus-card-paragraph,
.erasmus-card:hover .erasmus-card-title h2,
.erasmus-card:hover .eramus-card-more-info {
    color: white;
}

.erasmus-card:hover .erasmus-card-img-div::before {
    opacity: 1;
}

.erasmus-card:hover .eramus-card-more-info-bottom-line {
    background-color: white;
    width: 200%;
}

footer {
    background-color: #1d1d1d;
}

footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer .footer-menu {
    margin-bottom: 1.5rem;
}

footer .footer-menu li {
    margin-top: .5rem;
}

footer .footer-menu li a {
    opacity: .7;
    padding: 0 0.5rem;
    transition: opacity .4s;
}

footer .footer-menu li:hover a {
    opacity: 1;
}

footer .footer-menu li .footer-menu-a-bottom-line {
    width: 100%;
    height: 1px;
    background-color: white;
}

footer .footer-social li a {
    transition: color .4s;
}

footer .footer-social li:hover a {
    color: #928d8d !important;
}

footer .footer-social li a i {
    font-size: 1.3rem;
}

footer .contact .d-flex div a svg {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

footer .contact .d-flex div:last-child a {
    margin-left: .25rem;
}

footer .contact .d-flex div:first-child a svg {
    transform: rotateZ(325deg);
}

footer .row .col-lg-4 .footer-content-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: .5rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

footer form {
    position: relative;
}

footer form div input {
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0 1rem;
}

footer form div button {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #7cd25e;
    color: white;
    top: 0;
    right: 0;
}

footer .footer-img img {
    width: 22rem;
    height: 13rem;
    object-fit: cover;
}

footer hr {
    color: white;
    opacity: 1;
}

footer .footer-bottom a {
    opacity: .7;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

footer .row .col-lg-4.d-flex>div:first-child {
    height: 150px;
}

footer .row .col-lg-4.d-flex>div:nth-child(2) {
    height: 75px;
}

@media (max-width: 575.98px) {
    .w-sm-100 {
        width: 100% !important;
    }
}